<div class="container">
  <h3>JSON Matriz input:</h3>
  <div class="d-flex flex-row justify-content-center">
    <input type="text" class="form-control" [(ngModel)]="jsonMatriz" placeholder="JSON Matriz">
    <button class="btn btn-primary ms-3" (click)="botonRotar()">Rotar</button>
  </div>
  <div *ngIf="errorJsonMatriz" class="error">FORMATOS VÁLIDOS NxN: [[X]] | [[X,X],[X,X]] | [[X,X,X],[X,X,X],[X,X,X]] |
    ...</div>
  <h3 class="mt-3">Resultado:</h3>
  <div *ngIf="matrizRotada.length" class="mt-3 d-flex flex-column align-items-center">
    <div *ngFor="let fila of matrizRotada" class="d-flex flex-row justify-content-center">
      <div *ngFor="let columna of fila" class="celda p-2 border text-center">{{ columna }}</div>
    </div>
  </div>
</div>